<p>
	<strong> Titulo: </strong>
	<%= @post.title %>
</p>

<p>
	<strong> Contenido: </strong>
	<%= @post.text %>
</p>

<h2> Comentarios </h2>
<%= render @post.comments %>

<h2> Añadir comentario: </h2>
<%= render "comments/form" %>

<br>
<%= link_to 'Atras', posts_path %>