<p>
	<strong> Titulo: </strong>
	<%= @post.title %>
</p>

<p>
	<strong> Contenido: </strong>
	<%= @post.text %>
</p>

<h2> Comentarios </h2>
<% @post.comments.each do |comment| %>
	<p>
		<strong> Comentario: </strong>
		<%= comment.body %>
	</p>
<% end %>

<h2> Añadir comentario: </h2>
<%= form_for([@post, @post.comments.build]) do |c| %>
	<p> 
		<%= c.label :Comentario %> <br>
		<%= c.text_area :body %>
	</p>

	<p>
		<%= c.submit("Comentar") %>
	</p>
<% end %>

<br>
<%= link_to 'Atras', posts_path %>