<br><br><br>
<h1> > Pantalla Principal < </h1>
<h2> Publicaciones </h2> <br>

<table class="mytable" align="center">
	<tr>
		<th> Título </th>
		<th> Contenido </th>
		<th> Fecha Creación </th>
		<th> Me Gusta </th>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td> <%= post.title %> </td>
			<td> <%= post.text %> </td>
			<td> <%= post.created_at %> </td>
			<td> <%= post.like %> </td>

			<td> <a href="/posts/show/<%= post.id %> "> Mostrar </a> </td>
			<td> <a href="/posts/like/<%= post.id %>"> Me gusta </a> </td>
			<td> <a href="/posts/dislike/<%= post.id %> "> No me gusta </a></td>
		</tr>
	<% end %>
</table>